<div *ngIf="question$ | async as q">
  <div
    class="WBackG"
    style="
      margin-top: 1em;
      border: 5px solid rgba(128, 128, 128, 0.573);
      border-radius: 5px;
      padding: 10px;
      padding-bottom: 2em;
      margin-bottom: 10px;
      display: flex;
      align-items: flex-start;
      box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.9);
    "
  >
    <div>
      <h3>{{ q.question }}</h3>
      <div>
        <ul>
          <li *ngFor="let o of q.options">
            <ng-container *ngIf="q.questionType === 'single-choice'">
              <label>
                <input
                  type="radio"
                  name="answer"
                  (change)="selectedAnswer = [o]"
                />
                {{ o }}
              </label>
            </ng-container>
            <ng-container *ngIf="q.questionType === 'multiple-choice'">
              <label>
                <input
                  type="checkbox"
                  name="answer"
                  (change)="packInArray(o)"
                />
                {{ o }}
              </label>
            </ng-container>
          </li>
          <ng-container *ngIf="q.questionType === 'fill-in'">
            <li>
              <input type="text" #inputAnswer />
              <button
                style="margin-left: 1em"
                (click)="checkAnswerAndNavigate(q, inputAnswer.value)"
              >
                Submit
              </button>
            </li>
          </ng-container>
        </ul>
      </div>
      <div style="height: 3em">
        <button
          *ngIf="q.questionType !== 'fill-in'"
          style="margin-left: 1em"
          (click)="checkAnswerAndNavigate(q, selectedAnswer)"
        >
          Submit
        </button>
        <button
          style="margin-left: 1em; margin-top: 10px"
          (click)="showPreviosQuestion(q)"
        >
          Previous Question
        </button>
        <div *ngIf="lastQswitch" style="color: rgb(255, 0, 0)">
          <h6>{{ lastQError }}</h6>
        </div>
        <div *ngIf="noOptionSwitch" style="color: rgb(253, 1, 1)">
          <h6>{{ noOptionError }}</h6>
        </div>
        <p *ngIf="q.showAnswer">
          <strong>Answer: </strong>{{ q.correctAnswer }}
        </p>
      </div>
    </div>
    <br />
    <br />
  </div>
  <button routerLink="/">Back</button>
  <button style="margin-left: 1em" routerLink="/scores">Finished</button>
</div>
