<div class="nav-container" style="margin-bottom: 3em">
  <img
    class="logo"
    [src]="
      '/assets/web-concept-e-learning-academic-cap-computer-monitor-logo-blue-lines-your-site-design-app-ui-stock-vector-eps-185181233.webp'
    "
    alt="Logo will be here"
  />
  <div class="nav-buttons">
    <button [routerLink]="['home']" [routerLinkActive]="'active'">Home</button>
    <button [routerLink]="['learn']" [routerLinkActive]="'active'">
      Learn
    </button>
    <button [routerLink]="['check/0']" [routerLinkActive]="'active'">
      Check
    </button>
    <button [routerLink]="['exam/0']" [routerLinkActive]="'active'">
      Exam
    </button>
  </div>
</div>
