<div class="WBackG">
  <section class="about-section">
    <h2>LPIC-101 larning App</h2>
    <p>
      Welcome to our educational platform! Explore our learning modes to
      practice, check your understanding, and simulate exams. Elevate your
      learning journey with interactive tools designed to support your academic
      growth.
    </p>
  </section>
</div>

<section class="mode-section">
  <a routerLink="/learn">
    <h2>Learn Mode</h2>
    <p>Practice and learn at your own pace.</p>
  </a>
</section>

<section class="mode-section">
  <a routerLink="/check/0">
    <h2>Check Mode</h2>
    <p>Check your answers and get instant feedback.</p>
  </a>
</section>

<section class="mode-section">
  <a routerLink="/exam/0">
    <h2>Exam Mode</h2>
    <p>Simulate an exam environment to test your knowledge.</p>
  </a>
</section>
